@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css';
@import "./partials/navbar";
@import "./partials/page-btn";
@import "./partials/card";
@import "./partials/sidebar";
@import "./partials/evolution-card";
@import "./partials/loader";
@import "./partials/dropdown";
@import "./partials/toast";

:root {
    --bg-nav-red: rgb(139 1 1);
    --bg-pokedex: rgb(192 14 14);
    --radius-pokedex: 20px;
}
a{
    text-decoration: none;
    color: unset;
}

body {
    background: url("/src/assets/body_bg.png");
    color: #f1f1f1;

    .pokedex {
        background-color: var(--bg-pokedex);
        padding: 20px;
        border-radius: var(--radius-pokedex);
    }
}

.ms_option {
    border: 0px;
    cursor: pointer;

    option {
        padding: 10px 20px;
    }
}