.ms_card {
    cursor: pointer;
    border: 0;
    background: url("/src/assets/card_bg2.png");
    transition: all 0.5s;

    .captured {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 0;
    }

    img {
        transition: all 0.5s;
        z-index: 1;
        filter: drop-shadow(5px 2px 15px rgba(56, 56, 56, 0.692));
    }

    &:hover {
        
        img {
            transform: scale(110%);
        }
    }
}