.ms_loader {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
