.ms_toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    padding: 5px 10px;
    transition: transform 0.5s;
    div{
        width: 0px;
        height: 4px;
        transition: width 4.8s linear;
    }
}

.hidden-toast {
    transform: translate(100%);
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}